{% comment %} {% extends "base.html" %}
{% block start %}

<div class="container mt-5">

<form class="col-6 mx-auto card p-3 shadow-lg" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add Receipe</h2>
    <hr>

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Receipe name</label>
      <input name="recipe_name" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Receipe description</label>
        <textarea class="form-control" name="recipe_desc" required></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
        <input name="recipe_img" type="file" class="form-control">
    </div>
    <button type="submit" class="btn btn-success">Add Receipe</button>
  </form>
</div>


{% endblock start %}
  {% endcomment %}